<div id="education" class="card backdrop p-5 mb-5">
    <div class="row fs-2">
        <div class="col pb-3">EDUCATION</div>
        <i class="col-1 bi bi-book"></i>
    </div>
    <p>
        I've got a Bachelor in Computer Engineering from Nnamdi Azikiwe University
        in Awka, Anambra, a South Eastern state in Nigeria.
        <br>
        If you're an academic recruiter or admissions officer, you might want to take a look at my:
    </p>
    
    <div class="container">
        <div class="row justify-content-center justify-content-md-start">
            <a href="https://ijcjournal.org/index.php/InternationalJournalOfComputer/article/view/1967"
                class="col-12 col-md fs-5 btn btn-primary m-2" type="button"
                target="_blank">PUBLICATION</a>
            <a href="https://drive.google.com/file/d/1K6-NXZhnqWvaJA6Sh7-L2Lizcf_DJgQC/view?usp=drive_link"
                class="col-12 col-md fs-5 btn btn-primary m-2" type="button"
                target="_blank">ACADEMIC CV</a>
            <a href="https://drive.google.com/file/d/1f4HGWdNzrHSCnHY4wHEys9bXqEiUpFIK/view?usp=drive_link"
                class="col-12 col-md fs-5 btn btn-primary m-2" type="button"
                target="_blank">IELTS</a>

        </div>
    </div>
</div>