<div id="qualifications" class="card backdrop p-5 mb-5">
    <div class="row fs-2">
        <div class="col pb-3">QUALIFICATIONS</div>
        <i class="col-1 bi bi-bookmark-check-fill"></i>
    </div>
    <p>Server-side (Backend) Software Engineer with {{counter}} of experience</p>
    <p>Click to view</p>

    <!--CARDS-->
    <div class="container">
        <div class="row justify-content-md-start justify-content-center">
            <a 
            *ngFor="let cert of certificates" 
            style="max-width: 20rem;"
            [href]="cert.completed ? cert.link: '#qualifications'"
            [ngClass]="cert.completed ? 
            'col-md-4 card btn text-white bg-black m-2' : 
            'col-md-4 btn card text-white bg-dark m-2'" 
            [target]="cert.completed?'_blank':'_self'">

                <div class="card-header fs-5">{{cert.name}} Certification <i class="bi bi-award-fill"></i></div>
                <div class="card-body">
                    <span *ngIf="cert.completed; then complete else incomplete"></span>

                    <ng-template #complete ><span class="fs-6" >{{cert.authority}} Certified</span></ng-template>
                    <ng-template #incomplete><span class="fs-6" >In Progress</span></ng-template>
                </div>
            </a>
        </div>

        <!--SUMMARY-->
        <blockquote class="mt-3 mb-3">
            <p>I pride myself on doing the work people consider difficult or complex and
                that owes to the the fact that I like a challenge.
            </p>
            <p>
                Problem solving is my forté if I had to summarize.
                <br>
                I always get tasks done to the best of my ability and ask for help accordingly.
                If such help cannot be provided, I work around my problem and profer a solution.
                <br>
                Independence is a trait of mine as well and adaptability is a skill I possess so I work
                productively in a team.
            </p>
            <p>Here are my other skills:</p>
        </blockquote>

        <!--SKILL TABS-->
        <ul class="nav nav-tabs" role="tablist">
            <li *ngFor="let skill of skills" class="nav-item" role="presentation">
                <a [ngClass]="skill.name == 'java' ? 'nav-link active text-capitalize' : 'nav-link text-capitalize'" data-bs-toggle="tab"  routerLink="/home" [href]="'#' + skill.name" role="tab">{{skill.name}}</a>
            </li>
        </ul>

        <!--SKILLS-->
        <div id="myTabContent" class="tab-content pt-4 fs-4 mb-5" bis_skin_checked="1">
            <div 
            *ngFor="let skill of skills"
            [ngClass]="skill.name == 'java'? 'tab-pane fade active show' : 'tab-pane fade'" 
            id={{skill.name}} 
            role="tabpanel"
            bis_skin_checked="1"
            >
                <span 
                *ngFor="let sub_skill of skill.values"
                    class="badge rounded-pill bg-primary text-uppercase ms-2">
                    {{sub_skill}}
                </span>
            </div>
        </div>

        <!--RESUME-->
        <div class="row">
            <a class="btn btn-primary col"
                href={{resume_link}}
                target="_blank">VIEW MY RESUMÉ
                <i class="bi bi-work"></i>
            </a>
        </div>
    </div>