<div id="about" class="card backdrop p-5 mb-5">
    <div class="row fs-2">
        <div class="col pb-3">ABOUT</div>
        <i class="col-1 bi bi-file-person-fill"></i>
    </div>

    <blockquote>
        <p>Hello, I'm Dreek, nice to see you here and welcome to my online resume.
            Born in Lagos on the 22nd day of November 2000, I'm the all Nigerian boy next door.</p>
        <p><span class="fw-bold">Dreek</span> happens to be a pseudonym of sorts I use for business related activities.
            The names mother and father gave me are <span class="fw-bold">Chiemelie Michael Chukwuma</span>.
            Emelie For short. That translates to <span class="fw-bold">Victory</span> in English.
        </p>
        <p>I speak English at full professional capacity as attested by my IELTS scores.
            An 8.5 on first attempt.</p>
        <p>I also know some French, much thanks to the Duolingo team and speak a little Japanese.
             I've got a long way to go on the latter.</p>
        <p>For leisure, you may find me watching anime; I'm fascinated by Japanese culture.
            I may also be making digital art / animations of my own or reading a dusty old novel I
            found somewhere in the bookshelf nobody bothers to clean.</p>
    </blockquote>
    <figcaption class="blockquote-footer text-end">
        Emelie Michael Chukwuma
    </figcaption>

    <dialog id="me-container-dialog">
        <img id="me-lg" class="rounded" src="assets/img/me.jpg" />
    </dialog>
    <div class="about-container">
        <img id="me-sm" class="rounded" height="180px" src="assets/img/2.jpg" />
    </div>
</div>